/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CSS Variables */
:root {
  --font-family-headings: 'Exo', sans-serif;
  --font-family-body-text: 'Merriweather Sans', sans-serif;
  --primary-color: #264653;
  --secondary-color: #2a9d8f;
  --accent-color: #fff;
  --primary-text-color: #000;
  --secondary-text-color: #626262;
  --shadows-color: rgb(0 0 0 / 25%);
  --btn-height: 3rem;
  --btn-icon-width: var(--btn-height);
  --btn-link-width: 8.7rem;
}

/*--------------------------------------------------------------------------*\
    RESET
\*--------------------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------------------*\
   
\*--------------------------------------------------------------------------*/

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #1c2334;
  font-family: Barlow Condensed, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.app__content {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

h1 {
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
}

main > h1 + * {
  margin-top: 1rem;
}

.view__content {
  overflow-y: auto;
  padding: 0 0.5rem;
}

.view__header {
  background-color: rgb(64, 138, 250);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  padding: 0.5rem;
}

.map {
  height: 100%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

nav {
  max-width: 50rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0.15rem 0.5rem;
  max-width: 65ch;
}

.nav a {
  color: #1c2334;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  font-family: var(--font-family-body-text);
  background-color: white;
  color: var(--primary-color);
  font-size: 1.3rem;
  gap: 1.5rem;
  line-height: 2;
  height: var(--btn-height);
  transition: all 200ms linear;
  border-radius: 4px;
  width: var(--btn-icon-width);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0 0 var(--shadows-color);
  outline: 0;
}

.btn:hover,
a.active {
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-weight: 800;
  box-shadow: none;
  transform: translateX(0.2rem);
}

.btn:hover svg {
  fill: var(--accent-color);
}

.btn--link {
  text-transform: capitalize;
  letter-spacing: 1px;
  width: var(--btn-link-width);
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.spinner-container {
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #b4cddd;
  border-radius: 50%;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search__error h2 {
  text-align: center;
}

.map-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid #1c2334;
  background: grey;
}

.map-icon svg {
  transform: rotate(90deg);
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
  margin-top: -4px;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* User Pin */
.user-location-icon {
  width: 180px;
  height: 180px;
  fill: #a020f0;
  animation: pulse 2s infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    fill: rgba(142, 68, 173, 0.7);
  }

  70% {
    transform: scale(1);
    fill: 0 0 0 10px rgba(142, 68, 173, 0);
  }

  100% {
    transform: scale(0.95);
    fill: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}

/* List & Locations */

.list {
  min-height: 100%;
  padding: 0;
}

.list__locations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 1.5rem 0;
  padding: 0;
}

.location {
  align-items: center;
  background-color: #e9e7f7;
  border-radius: 0.5rem;
  box-shadow: 3px 3px #1c2334;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.location:hover {
  background-color: #2c265f;
  color: #fff;
}

.location:hover .location__link {
  color: #fff;
}

.location__distance,
.location__figcaption {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #000;
  font-size: 0.95rem;
  text-align: center;
  width: 100%;
}

.location__cover {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.7rem;
  width: 5rem;
}

.location__image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}

.location__info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  gap: 1.5rem;
  width: 100%;
}

.location__link {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
}

.location__link:active,
.location__link:visited {
  color: #000;
}

.location__title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1;
}

.location__description,
.location__title {
  text-align: left;
}

/*--------------------------------------------------------------------------*\
   DIALOG
\*--------------------------------------------------------------------------*/

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

[role='dialog'] {
  padding: 2.5rem;
  border: 2px solid;
  border-radius: 0.25rem;
  background-color: #fff;
}

[data-reach-dialog-content] {
  min-width: 100vw;
  margin: 0 auto;
  background: white;
  outline: none;
  z-index: 1;
  position: relative;
}

@media screen and (min-width: 43rem) {
  [data-reach-dialog-content] {
    min-width: 45vw;
    margin: 10vh auto;
  }
}

.dialog__button {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  line-height: 0;
}

.dialog__button svg {
  fill: currentColor;
  margin-top: 0.1em;
  vertical-align: text-top;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.dialog__image {
  --width: 9;
  --height: 16;
  padding-bottom: calc(var(--width) / var(--height) * 100%);
  position: relative;
}

.dialog__image > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.dialog__body__link {
  color: #1c2334;
  text-decoration: underline;
}

/*--------------------------------------------------------------------------*\
  Settings
\*--------------------------------------------------------------------------*/
.settings-subheader {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 1.33rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #1c2334;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 auto;
}

.slider + * {
  margin-top: 5rem;
}

.thumb {
  box-sizing: border-box;
  top: 1px;
  width: 50px;
  height: 48px;
  border: 5px solid gray;
  background-color: black;
  color: white;
  font-size: 0.9em;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  border-radius: 50%;
}

.track {
  position: relative;
  top: 20px;
  height: 5px;
  background: #ddd;
}

.track-1 {
  background: #1c2334;
}

.slider__instructions {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #1c2334;
}

.slider__legend {
  text-align: center;
  font-size: 1.2rem;
}
/* Search Form */
.search {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0 0.5rem;
  position: relative;
}

.search__button {
  appearance: none;
  background-color: transparent;
  border: none;
}

.search__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.search__label {
  background-color: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #000;
  left: 0;
  font-size: 0.9rem;
  padding: 0 0.25rem;
  position: absolute;
  top: -1rem;
  width: 100%;
}

/* Icon */
.icon {
  fill: var(--primary-color);
}

.icon:hover {
  fill: var(--secondary-color);
}

.icons {
  display: flex;
  gap: 1rem;
}
