/*--------------------------------------------------------------------------*\
    RESET
\*--------------------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------------------*\
   
\*--------------------------------------------------------------------------*/

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #1c2334;
  font-family: Barlow Condensed, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.app__content {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
}

main > h1 + * {
  margin-top: 1rem;
}

.view__content {
  overflow-y: auto;
  padding: 0 0.5rem;
}

.map {
  height: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
}

nav {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0.15rem 0.5rem;
  max-width: 65ch;
}

.nav a {
  color: #1c2334;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.spinner {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #b4cddd;
  border-radius: 50%;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search__error h2 {
  text-align: center;
}

.map-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid #1c2334;
  background: grey;
}

.map-icon svg {
  transform: rotate(90deg);
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
  margin-top: -4px;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* List & Locations */

.list {
  min-height: 100%;
  padding: 0;
}

.list__locations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 1.5rem 0;
  padding: 0;
}

.location {
  align-items: center;
  background-color: #e9e7f7;
  border-radius: 0.5rem;
  box-shadow: 3px 3px #1c2334;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.location:hover {
  background-color: #2c265f;
  color: #fff;
}

.location:hover .location__link {
  color: #fff;
}

.location__distance,
.location__figcaption {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #000;
  font-size: 0.95rem;
  text-align: center;
  width: 100%;
}

.location__cover {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.7rem;
  width: 5rem;
}

.location__image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}

.location__info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  gap: 1.5rem;
  width: 100%;
}

.location__link {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
}

.location__link:active,
.location__link:visited {
  color: #000;
}

.location__title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1;
}

.location__description,
.location__title {
  text-align: left;
}

/* dialog */
[role='‘dialog’'] {
  padding: 20px;
  background-color: white;
  border: 2px solid fuchsia;
  border-radius: 2px;
}

.dialog {
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
