/*--------------------------------------------------------------------------*\
    RESET
\*--------------------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h2,
h3,
h4,
p {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

/*--------------------------------------------------------------------------*\
   
\*--------------------------------------------------------------------------*/

body {
  margin: 0;
  line-height: 1.5;
  color: #1c2334;
}

html,
body,
#root {
  height: 100%;
}

.app {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.33rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.map-area {
  height: 70vh;
}

.map {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

footer {
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

nav {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 0.75rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  list-style: none;
}

.nav li {
  margin: 0;
}

@media (min-width: 20em) {
  .nav li {
    margin: 0.15rem 0.5rem;
  }
}

.nav a {
  color: #1c2334;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

/* Pages &  Page */

.pages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 1.5rem 0;
  padding: 0;
}

.page {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.page:nth-child(even) {
  background-color: rgb(207, 233, 182);
}

.page:nth-child(odd) {
  background-color: rgb(247, 210, 169);
}

.page__distance,
.page__figcaption {
  background-color: #000;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #fff;
  font-size: 0.95rem;
  text-align: center;
  width: 100%;
}

.page__cover {
  align-items: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6.7rem;
  width: 5rem;
}

.page__image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}

.page__image--icon {
  font-size: 4.5rem;
}

.page__info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  gap: 1.5rem;
  width: 100%;
}

.page__link {
  color: black;
  text-decoration: none;
}

.page__link:active,
.page__link:visited {
  color: black;
}

.page__title {
  font-size: 1.2rem;
  line-height: 1.1;
}

.page__description,
.page__title {
  text-align: left;
}
